body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font: 12px "微软雅黑",Helvetica,sans-serif;
    color: #333;
}
img {
    border: 0 none;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #333;
}
#container{
    width: 1160px;
    height: auto;
    margin: 0 auto;
    padding:0;
}
/*----------------------------------------life_menu----------------------------------*/
.clearfix{
    zoom:1;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.life-help{
    margin: 20px 0 40px 0;
}
.left_menu{
    width: 241px;
    float: left;
}
.left_menu .column{
    border:1px solid #d4d4d4;
}
.left_menu h2 {
    background: url("../images/menu_tit.png") no-repeat;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    padding-left: 18px;
    color: #333;
    cursor: pointer;
}
.left_menu h3 {
    background: url("../images/menu_sub_tit1.jpg")  no-repeat;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 21px;
    color: #333;
    font-weight: normal;
    border-top: 1px solid #d4d4d4;
    cursor: pointer;
}
.left_menu h3.on{
    background:url("../images/menu_sub_tit.jpg")  no-repeat;
    color:#FF8A4C;
    font-weight:bold;}
.column a{
    background:url("../images/listimg.png") no-repeat 0px 7px;
    height:28px;
    font-size:13px;
    line-height:28px;
    padding-left:10px;
    margin-left:12px;
}
/*-------------------------------------------right----------------------------------*/
.right_content{
    width: 899px;
    float: right;
}
.crumb {
    background: url(../images/homeico.gif) no-repeat 0px 5px;
    height: 21px;
    line-height: 21px;
}
.crumb a.home {
    background: none;
    text-indent: 11px;
}
.crumb a {
    padding: 0 12px;
    height: 21px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.help_box {
    border: 1px solid #dbdbdb;
    margin-top: 10px;
}
.help_box h3 {
    background: url("../images/headline_bg.png") repeat-x;
    border-bottom: 2px solid #FF8A4C;
    height: 35px;
    padding-left: 17px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 35px;
}
.help_detail {
    padding: 6px 30px 6px 22px;
}
.help_detail dl {
    line-height: 20px;
}
.help_detail dt {
    font-weight: bold;
    margin-top: 10px;
}
.help_detail dd {
    margin-bottom: 10px;
}
a.blue_link {
    font-size: 14px;
    color: #3584D6;
}
a.blue_link1 {
    color: #06c;
}
.red, a.red {
    font-size: 16px;
    color: #FF8A4C;
}