body{font-size:62.5%;font-family:Microsoft YaHei;}
*{margin:0;padding:0;}
a{text-decoration:none;}
ul{list-style:none;margin:0;padding:0;}

.lb_navigation{
width:100%;
height:480px;
background-color:red;
}
.lb_navigation1{
width:1160px;
height:100%;
margin:0 auto;
}
.lb_navigation2{
width:314px;
height:480px;
float:left;
background-image:url("../images/lvyou7_03.gif");
background-size:100% 100%;
background-repeat:no-repeat;
}

.lb_navigation3{
width:224px;
height:64px;
margin:50px 0px 20px 90px;
}
.lb_navigation3 dt{
width:auto;
height:20px;
font-size:2.4em;
color:#1B1B1B;
text-align:left;
}
.lb_navigation3 dd{
height:30px;
font-size:4em;
color:#1B1B1B;
}
.lb_navigation3 dd img{
width:30px;
height:30px;
}
.lb_navigation4{
width:284px;
min-height:50px;
margin:0px 20px 10px 10px;
}
.lb_navigation5{
width:70px;
height:50px;
float:left;
}
.lb_navigation5 dl{
width:70px;
}
.lb_navigation5 dt{
width:2px;
height:20px;
margin-right:2px;
float:left;
border-left:2px solid #1B1B1B;
}
.lb_navigation5 dd{
width:64px;
height:20px;
float:left;
background-image:url("../images/lvyou4_07.png");
background-size:100% 100%;
background-repeat:no-repeat;
font-size:1.2em;
color:#333333;
line-height:20px;
text-align:center;
}
.lb_navigation6{
width:200px;;
height:50px;
float:right;
}

.lb_navigation6 dt{
font-size:1.4em;
color:#791B30;
text-align:left;
}
.lb_navigation6 dd{
font-size:1.2em;
color:#898B8B;
}
.lb_navigation7{
width:200px;
height:1px;
margin-top:10px;
border-top:1px dashed #D8DCE1;
}
.lb_navigation8{
width:74px;
height:20px;
background-color:#009FBE;
margin:10px 0px 0px 80px;
text-align:center;
}
.lb_navigation8 a{
font-size:1.2em;
color:#FFFFFF;
line-height:20px;
}





















/*********************/
.lb_lvyou{
width:100%;
height:100%;
}
.lb_lvyou0a{
width:1160px;
min-height:10px;
margin:0 auto;
}
.lb_lvyouz{
width:910px;
min-height:10px;
float:left;
}
.lb_lvyouza{
width:910px;
height:30px;
margin-top:20px;
clear:both;
}
.lb_lvyouza01{
width:300px;
height:100%;
float:left;
}
.lb_lvyouza02{
font-size:1.8em;
color:#424240;
font-weight:bold;
text-align:left;
float:left;
line-height:30px;
padding-right:16px;
}
.lb_lvyouza03{
font-size:1.2em;
color:#B8B8B8;
line-height:30px;
}
.lb_lvyouza04{
width:auto;
height:100%;
float:right;
}
.lb_lvyouza05{
height:14px;
font-size:1.2em;
font-family:SimSun;
color:#666666;
text-align:left;
float:left;
padding:0px 14px;
margin-top:6px;
border-right:1px solid #999999;
}
.lb_lvyouza06{
font-size:1.2em;
font-family:SimSun;
color:#999999;
float:right;
line-height:30px;
}
.lb_lvyouza07{
height:14px;
font-size:1.2em;
font-family:SimSun;
color:#666666;
text-align:left;
float:left;
padding:0px 14px;
margin-top:6px;
}


.lb_lvyouzb{
width:910px;
height:302px;
}
.lb_lvyouzb01{
width:296px;
height:302px;
float:left;
background-color:#FAFAFA;
}
.lb_lvyouzb02{
width:296px;
height:78px;
background-color:#009FBE;
}
.lb_lvyouzb03{
padding:10px 14px;
}
.lb_lvyouzb04{
font-size:3em;
color:#FFFFFF;
text-align:left;
}
.lb_lvyouzb05{
font-size:1.4em;
color:#FFFFFF;
text-align:left;
}
.lb_lvyouzb06{
width:268px;
min-height:10px;
padding:18px 14px;
}
.lb_lvyouzb07{
font-size:1.6em;
color:#333333;
text-align:left;
}
.lb_lvyouzb08{
width:268px;
min-height:10px;
padding-top:10px;
}
.lb_lvyouzb08 span{
font-size:1.2em;
font-family:SimSun;/**********宋体**************/
float:left;
padding-right:10px;
}
.lb_lvyouzb08 span:hover{
color:#F160A2;
}
.lb_lvyouzb08 p{
height:15px;
font-size:1.2em;
font-family:SimSun;
float:left;
padding:0px 10px;
border-left:1px solid #CDCDCD;
}
.lb_lvyouzb08 p:hover{
color:#F160A2;
}


.lb_lvyouzb09{
width:600px;
height:302px;
float:right;
position:relative;
}
.lb_lvyouzb10{
width:600px;
height:302px;
}
.lb_lvyouzb11{
width:94px;
height:22px;
background-color:#0FCBE8;
font-size:1.2em;
font-family:SimSun;/**********宋体**************/
text-align:center;
line-height:22px;
color:#FFFFFF;
position:absolute;
top:0px;
left:0px;
}
.lb_lvyouzb12{
width:100%;
height:50px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
position:absolute;
bottom:0px;
}
.lb_lvyouzb13{
padding:6px 8px;
}
.lb_lvyouzb14{
font-size:1.4em;
font-family:SimSun;/**********宋体**************/
color:#FFFFFF;
text-align:left;
}
.lb_lvyouzb15{
font-size:1.2em;
font-family:SimSun;/**********宋体**************/
color:#FFFFFF;
text-align:left;
float:left;
}
.lb_lvyouzb16{
font-size:1.4em;
color:#FF6600;
text-align:right;
}


.lb_lvyouzb17{
width:910px;
height:196px;
margin-top:10px;
}
.lb_lvyouzb18{
width:296px;
height:100%;
float:left;
position:relative;
}
.lb_lvyouzb18a{
width:296px;
height:100%;
float:left;
margin-left:10px;
position:relative;
}
.lb_lvyouzb19{
width:296px;
height:196px;
}
.lb_lvyouzb20{
width:70px;
height:22px;
background-color:#0FCBE8;
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
text-align:center;
line-height:22px;
position:absolute;
top:0px;
left:0px;
}



.lb_lvyouzc{
width:216px;
height:302px;
float:left;
margin-right:10px;
position:relative;
}
.lb_lvyouzc1{
width:216px;
height:302px;
}
.lb_lvyouzc2{
width:180px;
height:80px;
background-color:#FFFFFF;
filter:alpha(opacity=60); /*IE滤镜，透明度50%*/
-moz-opacity:0.6; /*Firefox私有，透明度50%*/
opacity:0.6;/*其他，透明度50%*/
position:absolute;
bottom:28px;
left:20px;
}
.lb_lvyouzc3{
font-size:1.2em;
font-family:SimSun;/****宋体*****/
text-align:center;
color:#333333;
padding-top:10px;
}
.lb_lvyouzc4{
font-size:1.8em;
text-align:center;
color:#333333;
font-weight:bold;
}
.lb_lvyouzc5{
font-size:1.4em;
text-align:center;
font-family:SimSun;/****宋体*****/
color:#FF681E;
font-weight:bold;
}
.lb_lvyouzc6y{
width:680px;
height:302px;
float:right;
}
.lb_lvyouzc7{
width:680px;
height:146px;
}
.lb_lvyouzc7a{
width:680px;
height:146px;
margin-top:10px;
}
.lb_lvyouzc8{
width:220px;
height:146px;
float:left;
position:relative;
}
.lb_lvyouzc8a{
width:220px;
height:146px;
float:left;
margin-left:10px;
position:relative;
}
.lb_lvyouzc9{
width:220px;
height:146px;
float:left;
}
.lb_lvyouzc10{
width:100%;
height:30px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
position:absolute;
bottom:0px;
}
.lb_lvyouzc11{
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
line-height:30px;
padding-left:10px;
text-align:left;
float:left;
font-weight:bold;
}
.lb_lvyouzc12{
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#EE6406;
line-height:30px;
padding-right:10px;
text-align:right;
float:right;
font-weight:bold;
}

/*********马上出发，境外游等的右边************/
.lb_lvyouy{
width:230px;
min-height:10px;
float:right;
}
.lb_lvyouy1{
width:100%;
height:30px;
margin-top:20px;
}
.lb_lvyouy2{
font-size:1.8em;
color:#666666;
text-align:left;
line-height:30px;
float:left;
}
.lb_lvyouy3{
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#666666;
line-height:30px;
text-align:right;
}
.lb_lvyouy4{
width:220px;
height:196px;
border:1px solid #EFEFEF;
}
.lb_lvyouy4a{
width:220px;
height:196px;
margin-top:10px;
border:1px solid #EFEFEF;
}
.lb_lvyouy5{
width:200px;
height:176px;
padding:10px;
position:relative;
}
.lb_lvyouy6{
width:204px;
height:136px;
}
.lb_lvyouy7{
width:204px;
height:26px;
margin-top:10px;
}
.lb_lvyouy8{
font-size:2.4em;
color:#FF6410;
line-height:26px;
text-align:left;
float:left;
}
.lb_lvyouy9{
width:66px;
height:26px;
background-color:#FF8800;
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
text-align:center;
line-height:26px;
float:right;
}
.lb_lvyouy10{
width:78px;
height:26px;
background-image:url("../images/lvyou4_01.png");
background-repeat:no-repeat;
background-size:100% 100%;
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
text-align:center;
line-height:26px;
position:absolute;
top:10px;
left:6px;
z-index:30px;
}
.lb_lvyouy11{
width:194px;
height:30px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
line-height:30px;
text-align:left;
padding-left:10px;
position:absolute;
bottom:44px;
}
.lb_lvyouy12{
width:220px;
min-height:10px;
background-color:#FAFAFA;
}
.lb_lvyouy13{
padding:10px;
}
.lb_lvyouy13 h3{
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#999999;
}
.lb_lvyouy13 span{
padding:0px 15px;
cursor:pointer;
}
.lb_tab{
width:200px;
height:2px;
background-color:#E6E6E6;
margin:6px 0px 8px 0px;
}
.lb_tab img{
width:66px;
height:5px;
float:left;
}
#imgone{
float:left;
}
#imgtwo{
margin-left:68px;
float:left;
display:none;
}
.imgleft{
float:left;
margin-left:68px;
}
#imgthree{
float:right;
display:none;
}
#tab .hide{
display:none;/****默认让第一块内容显示，其余影藏*****/
}
.lb_lvyouy14{
width:220px;
min-height:10px;
}
.lb_lvyouy15{
width:200px;
height:auto;
position:relative;
}
.lb_lvyouy16{
width:200px;
height:138px;
}
.lb_lvyouy17{
width:26px;
height:14px;
background-image:url("../images/lvyou4_02.png");
background-repeat:no-repeat;
background-size:100% 100%;
font-size:1.2em;
font-family:SimSun;/****宋体*****/
text-align:center;
line-height:14px;
color:#FFFFFF;
position:absolute;
top:0px;
left:-4px;
}
.lb_lvyouy18{
width:190px;
height:30px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
line-height:30px;
text-align:left;
padding-left:10px;
position:absolute;
top:108px;
}
.lb_lvyouy19{
width:200px;
height:18px;
padding:10px 0px 14px 0px;
}
.lb_lvyouy20{
font-size:1.4em;
color:#FE7E48;
text-align:left;
float:left;
}
.lb_lvyouy21{
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#333333;
float:right;
}
.lb_lvyouy22{
width:100%;
height:88px;
position:relative;
}
.lb_lvyouy23{
width:200px;
height:1px;
margin-bottom:12px;
border:1px solid #F0F0F0;
}
.lb_lvyouy24{
width:90px;
height:60px;
float:left;
margin-right:10px;
}
.lb_lvyouy25{
width:24px;
height:14px;
background-image:url("../images/lvyou4_02.png");
background-size:100% 100%;
background-repeat:no-repeat;
position:absolute;
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FFFFFF;
text-align:center;
line-height:14px;
top:15px;
left:-4px;
}
.lb_lvyouy26{
width:auto;
height:60px;
float:left;
}
.lb_lvyouy26 li:nth-last-child(3){
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#333333;
text-align:left;
}
.lb_lvyouy26 li:nth-last-child(2){
width:auto;
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#333333;

}
.lb_lvyouy26 li:nth-last-child(1){
font-size:1.2em;
font-family:SimSun;/****宋体*****/
color:#FF6410;
}

/**********他们去哪及以下内容*******************/
.lb_lvyouf{
width:1160px;
min-height:10px;
margin:0 auto;
clear:both;
}
.lb_lvyouf1{
width:100%;
height:2px;
border-bottom:2px solid #333333;
}
.lb_lvyouf2{
width:2px;
height:18px;
margin:4px 8px 0px 0px;
float:left;
border-right:2px solid #FF9933;
}
.lb_lvyouf3{
font-size:1.8em;
color:#333333;
text-align:left;
float:left;
}
.lb_lxqnz{
width:868px;
min-height:10px;
float:left;
}
.lb_lvyoufz{
width:868px;
height:30px;
margin-top:20px;
}
.lb_lvyoufz1{
width:280px;
min-height:10px;
float:left;
}
.lb_lvyoufzz{
width:868px;
height:294px;
}
.lb_lvyoufz1 ul li:nth-last-child(2){
width:100%;
height:140px;
}
.lb_lvyoufz1 ul li:nth-last-child(1){
width:100%;
height:140px;
margin-top:10px;
}
.lb_lvyoufz1 dl{
width:280px;
height:140px;
position:relative;
}
.lb_lvyoufz1 dt{
width:280px;
height:140px;
}
.lb_lvyoufz1 dd:nth-last-child(2){
width:270px;
height:40px;
background-color:#424240;
font-size:1.4em;
color:#FFFFFF;
padding-left:10px;
line-height:40px;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
position:absolute;
bottom:0px;
}
.lb_lvyoufz1 dd:nth-last-child(1){
width:60px;
height:25px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.2em;
color:#FFFFFF;
line-height:25px;
padding-right:10px;
text-align:right;
position:absolute;
top:0px;
right:14px;
}
.lb_lvyoufz1 dd img:nth-last-child(1){
width:20px;
height:20px;
float:left;
padding-left:10px;
}

.lb_lvyoufy1{
width:570px;
height:294px;
float:right;
position:relative;
}
.lb_lvyoufy1 dt{
width:570px;
height:294px;
}
.lb_lvyoufy1 dd:nth-last-child(2){
width:560px;
height:36px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.4em;
line-height:36px;
color:#FFFFFF;
padding-left:10px;
text-align:left;
position:absolute;
bottom:0px;
}
.lb_lvyoufy1 dd:nth-last-child(1){
width:60px;
height:25px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.2em;
color:#FFFFFF;
line-height:25px;
padding-right:10px;
text-align:right;
position:absolute;
top:0px;
right:14px;
}
.lb_lvyoufy1 dd img:nth-last-child(1){
width:20px;
height:20px;
float:left;
padding-left:10px;
}


.lb_lvyouf4{
width:auto;
height:30px;
float:right;

}
.lb_lvyouf4 li{
height:18px;
font-size:1.6em;
color:#999999;
line-height:30px;
text-align:left;
padding:0px 20px;
float:left;
border-right:1px solid #F4F3F4;
}
.lb_lvyouf5{
font-size:1.2em;
color:#999999;
float:right;
line-height:30px;
text-align:right;
border-right:none;
}
.lb_lvyouf6{
width:100%;
height:1px;
border-bottom:1px solid #EFEFEF;
margin:20px 0px;
}
.lb_lvyouf7{
width:868px;
height:156px;
}
.lb_lvyouf7a{
width:234px;
height:156px;
margin-right:16px;
float:left;
position:relative;
}
.lb_lvyouf7a dt{
width:234px;
height:156px;
}
.lb_lvyouf7a dd{
width:28px;
height:40px;
background-image:url("../images/lvyou4_06.png");
background-size:100% 100%;
background-repeat:no-repeat;
font-size:1.6em;
color:#FFFFFF;
text-align:center;
line-height:40px;
position:absolute;
top:0px;
left:4px;
}
.lb_lvyouf7b{
width:556px;
height:156px;
float:left;
}
.lb_lvyouf7b dt{
font-size:1.8em;
color:#1283DA;
text-align:left;
}
.lb_lvyouf7b dd{
font-size:1.4em;
color:#5D5D5D;
overflow: hidden;
word-wrap:break-word;
line-height:200%;
margin-top:10px;
}
.lb_lvyouf7b dd p{
font-size:1em;
color:#5D5D5D;
float:left;
margin-right:40px;
line-height:200%;
margin-top:10px;
}
.lb_lvyouf7c{
width:50px;
height:156px;
margin-right:10px;
float:left;
}
.lb_lvyouf7c dt{
width:50px;
height:50px;
margin-top:50px;
background-image:url("../images/lvyou3_47.gif");
background-size:100% 100%;
background-repeat:no-repeat;
}
.lb_lvyouf7c dd{
font-size:1.4em;
color:#666666;
text-align:center;
}
.lb_lvyouf7d{
width:234px;
height:156px;
margin-right:16px;
float:left;
position:relative;
}
.lb_lvyouf7d dt{
width:234px;
height:156px;
}
.lb_lvyouf7d dd{
width:28px;
height:40px;
background-image:url("../images/lvyou4_05.png");
background-size:100% 100%;
background-repeat:no-repeat;
font-size:1.6em;
color:#FFFFFF;
text-align:center;
line-height:40px;
position:absolute;
top:0px;
left:4px;
}

/************他们去哪右边**************/
.lb_lxqny{
width:280px;
min-height:10px;
float:right;
}
.lb_lxqny1{
width:280px;
height:140px;
position:relative;
}
.lb_lxqny1 dt{
width:280px;
height:140px;
}
.lb_lxqny1 dd:nth-last-child(2){
width:270px;
height:40px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.4em;
color:#FFFFFF;
text-align:left;
padding-left:10px;
line-height:40px;
position:absolute;
bottom:0px;
}
.lb_lxqny1 dd:nth-last-child(1){
width:60px;
height:25px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.2em;
color:#FFFFFF;
line-height:25px;
padding-right:10px;
text-align:right;
position:absolute;
top:0px;
right:14px;
}
.lb_lxqny1 dd img:nth-last-child(1){
width:20px;
height:20px;
float:left;
padding-left:10px;
}

.lb_lxqny2{
width:280px;
height:140px;
margin-top:10px;
position:relative;
}
.lb_lxqny2 dt{
width:280px;
height:140px;
}
.lb_lxqny2 dd:nth-last-child(2){
width:270px;
height:40px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.4em;
color:#FFFFFF;
text-align:left;
padding-left:10px;
line-height:40px;
position:absolute;
bottom:0px;
}
.lb_lxqny2 dd:nth-last-child(1){
width:60px;
height:25px;
background-color:#424240;
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/
font-size:1.2em;
color:#FFFFFF;
line-height:25px;
padding-right:10px;
text-align:right;
position:absolute;
top:0px;
right:14px;
}
.lb_lxqny2 dd img:nth-last-child(1){
width:20px;
height:20px;
float:left;
padding-left:10px;
}
.lb_lxqny3{
font-size:1.2em;
color:#494949;
height:30px;
margin-top:20px;
line-height:30px;
text-align:right;
}
.lb_lxqny4{
width:100%;
height:30px;
margin:20px 0px;
}



.lb_lxqny5{
width:280px;
height:294px;
margin-bottom:10px;
}
.lb_lxqny5 dl{
width:124px;
height:284px;
padding:5px;
float:left;
border:1px solid #F3F3F3;
}
.lb_lxqny5 dt{
width:120px;
height:190px;
margin:0px auto 20px auto;
}
.lb_lxqny5 dd{
font-size:1.4em;
color:#999999;
line-height:150%;
overflow: hidden;
word-wrap:break-word;
}
#l_lxqny5{
float:right;
}

.lb_lxqny6{
width:280px;
height:160px;
}
.lb_lxqny7{
width:1160px;
height:94px;
margin:40px auto;
}
















