body{font-size:62.5%;font-family:Microsoft YaHei;}
*{margin:0;padding:0;}
a{text-decoration:none;}
ul{list-style:none;margin:0;padding:0;}

.tuang{
width:100%;
height:100%;
}
.tuang1{
width:1160px;
min-height:10px;
margin:0 auto;
}
/**************导航部分*************************/
.lb_tgdaos01{
width:100%;
min-height:10px;
background-image:url("../images/jcd1_01.gif");
background-repeat:repeat-x;
}
.lb_tgdaos02{
width:60%;
min-width:1160px;
height:40px;
margin:0 auto;
position:relative;
}
.lb_tgdaos04{
width:210px;
height:40px;
float:left;
background-image:url("../images/jcd1_02.gif");
background-repeat:no-repeat;
background-size:100% 100%;
}
.lb_tgdaos05{
width:142px;
height:40px;
float:left;
}
.lb_tgdaos05 a{
line-height:40px;
padding-left:15px;
font-size:1.4em;
color:#FFFFFF;
}
.lb_tgdaos06{
width:43px;
height:40px;
float:left;
}

.lb_tgdaos11{
width:700px;
height:40px;
float:left;
}
.padd{
margin-left:50px;
}
.lb_tgdaos12{
height:40px;
float:left;
padding-right:50px;
}
.lb_tgdaos12 a{
line-height:40px;
font-size:1.4em;
color:#333333;
font-weight:bold;
}
.lb_tgdaos12 a:hover{
line-height:40px;
font-size:1.4em;
color:#FF6600;
border-bottom:1px solid #FF6600;
}
.lb_tgdaos13{
width:auto;
margin:0px 16px;
height:40px;
float:right;
}
.lb_tgdaos14{
width:24px;
height:40px;
float:left;
}
.lb_tgdaos15 {
font-size:2em;
color:#333333;
line-height:40px;
font-weight:bold;
font-style:italic;
float:left;
}
.lb_tgdaos16{
font-size:2em;
color:#FF6600;
font-weight:bold;
font-style:italic;
}
/***********dao**********/
.tuang_dao{
width:100%;
height:278px;
background-color:#BBE4F5;
}
.tuang_dao1{
width:938px;
height:278px;
margin-left:222px;
}
.tuang_dao1x{
width:708px;
height:276px;
float:left;
border:1px solid #F0F0F0;
}
.tuang_dao1x1{
width:100%;
height:46px;
border-bottom:1px solid #F0F0F0;
}
.tuang_dao1x2{
width:16px;
height:16px;
float:left;
margin:16px 4px 0px 16px;
}
.tuang_dao1x3{
float:left;
}
.tuang_dao1x3 a{
font-size:1.2em;
color:#BCBCBC;
line-height:46px;
padding-right:16px;
}
.tuang_dao1x4{
float:left;
}
.tuang_dao1x4 a{
font-size:1.2em;
color:#666666;
line-height:46px;
padding-right:16px;
}












.tuang_dao1y{
width:220px;
height:276px;
border:1px solid #F0F0F0;
float:right;
}



















/********今日新单***********/
.tuang2{
width:1158px;
height:274px;
border:1px solid #F0F0F0;
margin-top:20px;
}
.tuang3{
width:1138px;
height:234px;
margin:10px 20px;
}
.tuang4{
width:100%;
height:28px;
}
.tuang5{
width:80px;
height:33px;
background-image:url("../images/xin1_03.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
text-align:center;
float:left;
margin-right:30px;
}
.tuang5 a{
font-size:1.4em;
color:#FFFFFF;
line-height:23px;
}
.tuang6{
float:left;
}
.tuang6 a{
font-size:1.4em;
color:#666666;
line-height:28px;
}









.lb_texiao1{
width:1118px;
height:170px;
overflow:hidden;

}

.tuang7{
width:6000px;
height:170px;
margin-top:10px;
}
.tuang8{
width:190px;
height:170px;
float:left;
}
.tuang8a{
width:192px;
height:170px;
float:left;
margin-right:40px;
}
.tuang9{
width:192px;
height:120px;
}
.tuang10{
font-size:1.4em;
color:#333333;
font-weight:bold;
}
.tuang11{
font-size:1.2em;
color:#666666;
}
.tuang12{
height:30px;
width:190px;
}
.tuang12 p{
font-size:1.8em;
color:#FF7E00;
line-height:30px;
float:left;
}
.tuang12 span{
font-size:1.2em;
color:#DCDCDC;
line-height:35px;
float:left;
padding-left:10px;
}
/******长导航***********/
.tuang13{
width:100%;
height:40px;
background-color:#F3F3F3;
margin:20px 0px;
}
.tuang14{
width:160px;
height:40px;
float:left;
background-image:url("../images/tgx5.png");
background-repeat:no-repeat;
background-size:100% 100%;
}
.tuang15{
width:20px;
height:20px;
float:left;
margin:10px 10px 0px 16px;
}
.tuang16{
font-size:1.8em;
color:#FFFFFF;
line-height:40px;
float:left;
}
.tuang17{
width:auto;
height:40px;
float:right;
}
.tuang17 p{
font-size:1.2em;
color:#333333;
text-align:right;
line-height:40px;
float:left;
padding-right:16px;
}
/**********餐饮美食*******************/
.tuang18{
width:100%;
height:620px;
}
.tuang19{
width:1160px;
height:306px;
}
.tuang19a{
width:1158px;
height:306px;
margin-top:10px;
}
.tuang20{
width:274px;
height:304px;
position:relative;
border:1px solid #EEEEEE;
float:left;
}
.tuang20a{
width:274px;
height:304px;
position:relative;
border:1px solid #EEEEEE;
float:left;
margin-left:18px;
}
.tuang21{
width:248px;
height:284px;
margin:10px;
}
.tuang22{
height:20px;
width:248px;
}
.tuang22 p{
font-size:1.2em;
color:#333333;
line-height:20px;
text-align:left;
float:left;
}
.tuang22 span{
font-size:1.2em;
color:#2C91D8;
line-height:20px;
text-align:right;
float:right;;
}
.tuang23{
width:248px;
height:150px;
margin:10px 0px;
}
.tuang24{
font-size:1.2em;
color:#333333;
}
.tuang25{
height:30px;
width:248px;
}
.tuang25 p{
font-size:1.8em;
color:#FF7E00;
line-height:30px;
float:left;
}
.tuang25 span{
font-size:1.2em;
color:#DCDCDC;
line-height:35px;
float:left;
padding-left:10px;
}
.tuang26{
width:70px;
height:30px;
background-color:#FF7E00;
font-size:1em;
color:#FFFFFF;
text-align:center;
line-height:30px;
float:right;
border-radius:4px;
-moz-border-radius:4px; /* 老的 Firefox */
}
.tuang27{
height:20px;
width:248px;
}
.tuang28{
font-size:1.2em;
color:#333333;
line-height:20px;
text-align:left;
float:left;
}
.tuang28 span{
color:#FF7E00;
}
.tuang29{
width:248px;
height:20px;
float:right;
margin:0;
}
.tuang30{
width:20px;
height:20px;
float:left;
}
.tuang31{
font-size:1.1em;
color:#999999;
line-height:20px;
float:left;
}
.tuang32{
width:37px;
height:47px;
position:absolute;
top:-3px;
left:70px;
}
.tuang33{
width:37px;
height:47px;
position:absolute;
top:-3px;
left:110px;
}
.tuang34{
float:right;
}
/*********精彩****热门关注*************/
.tuang35{
width:100%;
height:280px;
margin:20px 0px 50px 0px;
border:1px solid #E3E7EA;
}
.tuang36{
width:100%;
height:50px;
}
.tuang37{
font-size:1.8em;
color:#FF7E00;
float:left;
line-height:50px;
font-weight:bold;
font-style:italic;
padding:0px 6px 0px 14px;
}
.tuang38{
width:75px;
height:25px;
margin-top:12.5px;
background-image:url("../images/xiekuang.png");
background-repeat:no-repeat;
background-size:100% 100%;
font-size:1.6em;
color:#FFFFFF;
font-weight:bold;
font-style:italic;
text-align:center;
line-height:25px;
float:left;
}
.tuang39{
width:100%;
height:200px;
margin:0px 18px 24px 18px;
}
.tuang40{
width:210px;
height:200px;
float:left;
}
.tuang40a{
width:210px;
height:200px;
float:left;
margin-left:18px;
}
/**********/
































