body{font-size:62.5%;font-family:Microsoft YaHei;}
*{margin:0;padding:0;}
a{text-decoration:none;}
ul{list-style:none;margin:0;padding:0;}

.tuang{
width:100%;
height:100%;
}
.tuang1{
width:1160px;
min-height:10px;
margin:0 auto;
}
/**************导航部分*************************/
.lb_tgdaos01{
width:100%;
min-height:10px;
background-image:url("../images/jcd1_01.gif");
background-repeat:repeat-x;
}
.lb_tgdaos02{
width:60%;
min-width:1160px;
height:40px;
margin:0 auto;
position:relative;
}
.lb_tgdaos04{
width:210px;
height:40px;
float:left;
background-image:url("../images/jcd1_02.gif");
background-repeat:no-repeat;
background-size:100% 100%;
}
.lb_tgdaos05{
width:142px;
height:40px;
float:left;
}
.lb_tgdaos05 a{
line-height:40px;
padding-left:15px;
font-size:1.4em;
color:#FFFFFF;
}
.lb_tgdaos06{
width:43px;
height:40px;
float:left;
}

.lb_tgdaos11{
width:700px;
height:40px;
float:left;
}
.padd{
margin-left:50px;
}
.lb_tgdaos12{
height:40px;
float:left;
padding-right:50px;
}
.lb_tgdaos12 a{
line-height:40px;
font-size:1.4em;
color:#333333;
font-weight:bold;
}
.lb_tgdaos12 a:hover{
line-height:40px;
font-size:1.4em;
color:#FF6600;
border-bottom:1px solid #FF6600;
}
.lb_tgdaos13{
width:auto;
margin:0px 16px;
height:40px;
float:right;
}
.lb_tgdaos14{
width:24px;
height:40px;
float:left;
}
.lb_tgdaos15 {
font-size:2em;
color:#333333;
line-height:40px;
font-weight:bold;
font-style:italic;
float:left;
}
.lb_tgdaos16{
font-size:2em;
color:#FF6600;
font-weight:bold;
font-style:italic;
}
/***********dao**********/
.tuang_dao{
width:100%;
min-height:10px;
}
.tuang_dao1{
width:938px;
height:278px;
margin-left:222px;
}
.tuang_dao1x{
width:708px;
height:276px;
float:left;
border:1px solid #F0F0F0;
}
.tuang_dao1x1{
width:100%;
height:46px;
border-bottom:1px solid #F0F0F0;
}
.tuang_dao1x2{
width:16px;
height:16px;
float:left;
margin:16px 4px 0px 16px;
}
.tuang_dao1x3{
float:left;
}
.tuang_dao1x3 a{
font-size:1.2em;
color:#BCBCBC;
line-height:46px;
padding-right:16px;
}
.tuang_dao1x4{
float:left;
}
.tuang_dao1x4 a{
font-size:1.2em;
color:#666666;
line-height:46px;
padding-right:16px;
}
.tuang_dao1x4 a:hover{
color:#FF6600;
}
/*********导航下滑动部分***********/
.tuang_dao1x5{
width:710px;
height:140px;
position:relative;
overflow:hidden;
}
.tuang_dao1x6{
width:30px;
height:30px;
position:absolute;
top:50px;
left:10px;
z-index:20;
cursor: pointer; 
filter:alpha(opacity=40);  
-moz-opacity:0.4;  
-khtml-opacity: 0.4;  
opacity: 0.4;  
}
.tuang_dao1x7{
width:30px;
height:30px;
line-height:140px;
position:absolute;
top:50px;
right:10px;
z-index:20;
cursor: pointer; 
filter:alpha(opacity=40);  
-moz-opacity:0.4;  
-khtml-opacity: 0.4;  
opacity: 0.4; 
}
.tuang_dao1x8{
width:710px;
height:140px;
}
.tuang_dao1x9{
width:10000px;
height:140px;
float:left;
}
.tuang_dao1x10{
width:710px;
height:140px;
}









.tuang_dao1y{
width:220px;
height:276px;
border:1px solid #F0F0F0;
float:right;
}
.tuang_dao1y1{
width:220px;
height:150px;
border-bottom:1px solid #F0F0F0;
}
.tuang_dao1y2{
width:auto;
height:30px;
line-height:30px;
padding-left:10px;
font-size:1.2em;
color:#333333;
}
.tuang_dao1y3{
width:220px;
height:122px;
margin-bottom:4px;
}
.tuang_dao1y4{
width:220px;
height:122px;
margin-top:3px;
}
















/********今日新单***********/
.tuang2{
width:1158px;
height:274px;
border:1px solid #F0F0F0;
margin-top:20px;
}
.tuang3{
width:1136px;
height:234px;
margin:10px 20px;
overflow:hidden;
position:relative;
}


.tuang4{
width:100%;
height:28px;

}
.tuang5{
width:80px;
height:33px;
background-image:url("../images/xin1_03.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
text-align:center;
float:left;
margin-right:30px;
}
.tuang5 a{
font-size:1.4em;
color:#FFFFFF;
line-height:23px;
}
.tuang6{
float:left;
}
.tuang6 a{
font-size:1.4em;
color:#666666;
line-height:28px;
}
/**
.tuang_jiaodian{
width:62px;
height:28px;
float:right;
margin-right:18px;
}
*/

#jdAdBtn{
float:right;
width:80px;
height:28px;
}
.tuang_jiaodian_a{
width:8px;
height:8px;
background-color:#DDDDDD;
line-height:28px;
float:left;
margin-right:20px;
border-radius:60px;
-moz-border-radius:60px; /* 老的 Firefox */
-webkit-border-radius: 60px; 
margin:18px 4px 0px 0px;
}
.tuang_jiaodian_a:hover{
background-color:#FF9000;
}
.dian_tg{
top:18px;
right:60px;
position:absolute;
}

.dian_tg a{
width:6px;
height:6px;
float:left;
margin-right:6px;
line-height:33px;
background-color:#DCDCDC;
border-radius:30px;
-moz-border-radius:30px; /* 老的 Firefox */
-webkit-border-radius: 30px; 
}
.dian_tg a:hover{
background-color:#FF9000;
}






.lb_texiao1{
width:6000px;
height:170px;
float:left;
}
.tuang7{
width:1120px;
height:170px;
margin-top:10px;
float:left;
}
.tuang8{
width:190px;
height:170px;
float:left;
}
.tuang8a{
width:192px;
height:200px;
float:left;
margin:0px 16px 0px 16px;
}
.tuang9{
width:192px;
height:120px;
}
.tuang10{
font-size:1.4em;
color:#333333;
font-weight:bold;
}
.tuang11{
font-size:1.2em;
color:#666666;
}
.tuang12{
height:30px;
width:190px;
}
.tuang12 p{
font-size:1.8em;
color:#FF7E00;
line-height:30px;
float:left;
}
.tuang12 span{
font-size:1.2em;
color:#DCDCDC;
line-height:35px;
float:left;
padding-left:10px;
}
/******长导航***********/
.tuang13{
width:100%;
height:40px;
background-color:#F3F3F3;
margin:20px 0px;
}
.tuang14{
width:160px;
height:40px;
float:left;
background-image:url("../images/tgx5.png");
background-repeat:no-repeat;
background-size:100% 100%;
}
.tuang15{
width:20px;
height:20px;
float:left;
margin:10px 10px 0px 16px;
}
.tuang16{
font-size:1.8em;
color:#FFFFFF;
line-height:40px;
float:left;
}
.tuang17{
width:auto;
height:40px;
float:right;
}
.tuang17 p{
font-size:1.2em;
color:#333333;
text-align:right;
line-height:40px;
float:left;
padding-right:16px;
}
.tuang17 p:hover{
font-size:1.2em;
color:#FF6600;
text-align:right;
line-height:40px;
float:left;
padding-right:16px;
}
/**********餐饮美食*******************/
.tuang18{
width:100%;
height:620px;
}
.tuang19{
width:1160px;
height:306px;
}
.tuang19a{
width:1158px;
height:306px;
margin-top:10px;
}
.tuang20{
width:274px;
height:304px;
position:relative;
border:1px solid #EEEEEE;
float:left;
}
.tuang20a{
width:274px;
height:304px;
position:relative;
border:1px solid #EEEEEE;
float:left;
margin-left:18px;
}
.tuang21{
width:248px;
height:284px;
margin:10px;
}
.tuang22{
height:20px;
width:248px;
}
.tuang22 p{
font-size:1.2em;
color:#333333;
line-height:20px;
text-align:left;
float:left;
}
.tuang22 span{
font-size:1.2em;
color:#2C91D8;
line-height:20px;
text-align:right;
float:right;;
}
.tuang23{
width:248px;
height:150px;
margin:10px 0px;
}
.tuang24{
font-size:1.2em;
color:#333333;
}
.tuang25{
height:30px;
width:248px;
}
.tuang25 p{
font-size:1.8em;
color:#FF7E00;
line-height:30px;
float:left;
}
.tuang25 span{
font-size:1.2em;
color:#DCDCDC;
line-height:35px;
float:left;
padding-left:10px;
}
.tuang26{
width:70px;
height:30px;
background-color:#FF7E00;
font-size:1em;
color:#FFFFFF;
text-align:center;
line-height:30px;
float:right;
border-radius:4px;
-moz-border-radius:4px; /* 老的 Firefox */
-webkit-border-radius: 4px; 
}
.tuang27{
height:20px;
width:248px;
}
.tuang28{
font-size:1.2em;
color:#333333;
line-height:20px;
text-align:left;
float:left;
}
.tuang28 span{
color:#FF7E00;
}
.tuang29{
width:248px;
height:20px;
float:right;
margin:0;
}
.tuang30{
width:20px;
height:20px;
float:left;
position:relative;
}
.tuang31{
font-size:1.1em;
color:#999999;
line-height:20px;
float:left;
}
.tuang32{
width:37px;
height:47px;
position:absolute;
top:-3px;
left:70px;
}
.tuang33{
width:37px;
height:47px;
position:absolute;
top:-3px;
left:110px;
}
.tuang34{
float:right;
}
/*********精彩****热门关注*************/
.tuang35{
width:100%;
height:280px;
margin:20px 0px 50px 0px;
border:1px solid #E3E7EA;
}
.tuang36{
width:100%;
height:50px;
}
.tuang37{
font-size:1.8em;
color:#FF7E00;
float:left;
line-height:50px;
font-weight:bold;
font-style:italic;
padding:0px 6px 0px 14px;
}
.tuang38{
width:75px;
height:25px;
margin-top:12.5px;
background-image:url("../images/xiekuang.png");
background-repeat:no-repeat;
background-size:100% 100%;
font-size:1.6em;
color:#FFFFFF;
font-weight:bold;
font-style:italic;
text-align:center;
line-height:25px;
float:left;
}
.tuang39{
width:1160px;
height:200px;
float:left;
}
.tuang40{
width:210px;
height:200px;
float:left;
}
.tuang40a{
width:210px;
height:200px;
float:left;
margin:0px 11px;
}
.tuang41{
width:1160px;
height:200px;
overflow:hidden;
}
.tuang42{
width:6000px;
height:200px;
float:left;
}




#jdAdBtnl{
float:right;
width:80px;
height:28px;
}
.btn_a{
width:8px;
height:8px;
background-color:#DDDDDD;
line-height:28px;
float:left;
margin-right:20px;
border-radius:60px;
-moz-border-radius:60px; /* 老的 Firefox */
-webkit-border-radius: 60px; 
margin:18px 4px 0px 0px;
}
.btn_a:hover{
background-color:#FF9000;
}




























.lb_daos04tuan{
width:210px;
height:40px;
float:left;
position:relative;
background-image:url("../images/jcd1_02.gif");
background-repeat:no-repeat;
background-size:100% 100%;
}
/****二级导航弹出部分******/
.tuandaoer{
width:210px;
min-height:10px;
float:left;
position:relative;
top:40px;
left:0px;
z-index:500;
display:block;
}
.tuandaoer_01{
width:206px;
min-height:10px;
float:left;
border:2px solid #FF7E00;
margin-top:-40px;
}
.tuanger{
position:relative;
z-index:1000;
left:-1px;
}
.mouse-bg{background:url() no-repeat #fff;position:relative;z-index:22;margin-right:-4px;}
.tuanger_01{
width:206px;
height:54px;
background-color:#FFFFFF;
border-bottom:2px solid #F7F7F7;

}
.tuanger_01a{
width:206px;
height:52px;
background-color:#FFFFFF;

}
.tuanger_02{
width:182px;
height:40px;
padding:8px 12px;
position:relative;
}
.tuanger_03{
width:20px;
height:100%;
float:left;
}
.tuanger_04{
width:16px;
height:18px;
float:left;
}
.tuanger_05{
width:162px;
height:20px;
float:right;
}
.tuanger_05_1{
font-size:1.4em;
font-family:SimSun;/***宋体**/
font-weight:bold;
float:left;
}
.tuanger_05_1 a:hover{
color:#FF6600;
border-bottom:1px solid #FF6600;
}
.tuanger_05_2{
width:10px;
height:10px;
float:right;
line-height:20px;
font-weight:bold;
}
.tuanger_06{
width:162px;
height:20px;
float:right;
}
.tuanger_06 li{
font-size:1.2em;
font-family:SimSun;/***宋体**/
color:#666666;
float:left;
padding-right:14px;
}
.tuanger_06 li a:hover{
color:#FF6600;
border-bottom:1px solid #FF6600;
}
.tuanger_07{ /* 初始化页面时不显示出来 */
width:710px;
min-height:10px;
background-color:#FDFDFD;
padding:10px;
border-top:1px solid #E5E5E5;
border-right:1px solid #E5E5E5;
border-bottom:1px solid #E5E5E5;
}
.tuanger_07 h2 a:hover{
color:#FF6600;
}
#first{
position:absolute;
top:-40px;
left:208px;
display:none;
z-index:2000;
}
#two{
position:absolute;
top:16px;   /****是id="first加上56px的值"***/
left:208px;
display:none;
z-index:2000;
}
#three{
position:absolute;
top:72px;   /****是id="ftwo加上56px的值"***/
left:208px;
display:none;
z-index:2000;
}
#four{
position:absolute;
top:128px;   /****是id="three加上56px的值"***/
left:208px;
display:none;
}
#five{
position:absolute;
top:184px;
left:208px;
display:none;
}
.tuanger_07 li{
float:none; /* 垂直排列 */
}
.tuanger_08{
width:100%;
min-height:10px;
float:left;
line-height:30px;
}
.tuanger_08 li p{
line-height:12px;
font-size:1.2em;
font-family:SimSun;/***宋体**/
color:#333333;
float:left;
padding:8px 8px;
}
.tuanger_08 li a{
height:12px;
line-height:12px;
font-size:1.2em;
font-family:SimSun;/***宋体**/
color:#333333;
padding:8px 0px;
float:left;
}
.tuanger_08 li a p{
height:12px;
line-height:12px;
font-size:1.2em;
font-family:SimSun;/***宋体**/
color:#333333;
padding:0px 8px;
float:left;
border-right:1px solid #ABABAB;
}
.tuanger_08 li a p:hover{
color:#FF6600;
}





















































