body{font-size:62.5%;font-family:Microsoft YaHei;}
*{margin:0;padding:0;}
a{text-decoration:none;}
ul{list-style:none;margin:0;padding:0;}

.tuang{
width:100%;
height:100%;
}
.tuang1{
width:1160px;
min-height:10px;
margin:0 auto;
}
/********今日新单***********/
.tuang2{
width:1158px;
height:274px;
border:1px solid #F0F0F0;
margin-top:20px;
}
.tuang3{
width:1138px;
height:234px;
margin:10px;
}
.tuang4{
width:100%;
height:28px;
}
.tuang5{
width:80px;
height:33px;
background-image:url("../images/xin1_03.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
font-size:1.4em;
color:#FFFFFF;
text-align:center;
line-height:23px;
float:left;
}
.tuang6{
font-size:1.4em;
color:#666666;
line-height:28px;
padding-left:30px;
float:left;
}
.tuang7{
width:100%;
height:170px;
margin-top:10px;
}
.tuang8{
width:190px;
height:170px;
float:left;
}
.tuang8a{
width:190px;
height:170px;
float:left;
margin-right:40px;
}
.tuang9{
width:190px;
height:120px;
}
.tuang10{
font-size:1.4em;
color:#333333;
font-weight:bold;
}
.tuang11{
font-size:1.2em;
color:#666666;
}
.tuang12{
height:30px;
width:190px;
}
.tuang12 p{
font-size:1.8em;
color:#FF7E00;
line-height:30px;
float:left;
}
.tuang12 span{
font-size:1.2em;
color:#DCDCDC;
line-height:35px;
float:left;
padding-left:10px;
}
/******长导航***********/
.tuang13{
width:100%;
height:40px;
background-color:#F3F3F3;
margin:20px 0px;
}
.tuang14{
width:160px;
height:40px;
float:left;
background-image:url("../images/tgx5.png");
background-repeat:no-repeat;
background-size:100% 100%;
}
.tuang15{
width:20px;
height:20px;
float:left;
margin:10px 10px 0px 16px;
}
.tuang16{
font-size:1.8em;
color:#FFFFFF;
line-height:40px;
float:left;
}
.tuang17{
width:auto;
height:40px;
float:right;
}
.tuang17 p{
font-size:1.2em;
color:#333333;
text-align:right;
line-height:40px;
float:left;
padding-right:16px;
}
/**********餐饮美食*******************/
.tuang18{
width:100%;
height:620px;
background-color:#CEF16B;
}
.tuang19{
width:1158px;
height:270px;
}
.tuang20{
width:268px;
height:306px;
position:relative;
border:1px solid #EEEEEE;
}
.tuang21{
height:248px;
width:248px;
margin:10px;
}
.tuang22{
height:20px;
width:248px;
}
.tuang22 p{
font-size:1.2em;
color:#333333;
line-height:20px;
text-align:left;
float:left;
}
.tuang22 span{
font-size:1.2em;
color:#2C91D8;
line-height:20px;
text-align:right;
float:right;;
}
.tuang23{
width:248px;
height:150px;
margin:10px 0px;
}
.tuang24{
font-size:1.2em;
color:#333333;
}
.tuang25{
height:30px;
width:248px;
}
.tuang25 p{
font-size:1.8em;
color:#FF7E00;
line-height:30px;
float:left;
}
.tuang25 span{
font-size:1.2em;
color:#DCDCDC;
line-height:35px;
float:left;
padding-left:10px;
}
.tuang26{
width:70px;
height:30px;
background-color:#FF7E00;
font-size:1em;
color:#FFFFFF;
text-align:center;
line-height:30px;
float:right;
border-radius:4px;
-moz-border-radius:4px; /* 老的 Firefox */
}
.tuang27{
height:20px;
width:248px;
}
.tuang28{
font-size:11px;
color:#333333;
line-height:20px;
text-align:left;
float:left;
}
.tuang28 span{
color:#FF7E00;
}
.tuang29{

}
.tuang30{
width:20px;
height:20px;
float:left;
}
.tuang31{

}
.tuang32{
width:37px;
height:47px;
position:absolute;
top:-3px;
left:70px;
}
.tuang33{
width:37px;
height:47px;
position:absolute;
top:-3px;
left:110px;
}










































