@charset "utf-8";
/* CSS Document */
body {font: 12px "Microsoft YaHei",Helvetica,sans-serif;}
*{margin:0;padding:0;border:0;}
img {border:none;}
a {text-decoration:none;}
ul,li{list-style:none;}
li {display: list-item;text-align: -webkit-match-parent;}
/*------------------------------------------------Nav--------------------------------------------*/
.header1
{width:100%;
height:4px;
background-image:url(../images/Nav-01.gif);
background-repeat:repeat;
}
.header2
{width:100%;
height:30px;
background-color:#F0F2F5;
box-shadow:0 -1px 1px #BECACF inset;
}
.header2a
{width:1160px;
height:100%;
margin:0 auto;
}
.header2a a
{color:#000;
}
.header2a a>dt:hover{color:#F30; text-decoration:underline;}
.header2a dt
{
position:relative;
font-size:12px;
line-height:30px;
}
.header2a dt img
{padding-top:5px;}
#h1
{float:left;}
#h2
{float:right;}
#h1 dt
{float:left;
padding-right:3px;
}
#h2 dt
{float:left;
padding-right:5px;
}
.header2a_dt1
{margin-left:15px;
margin-right:2px;}
.header2a_dt2
{color:#a0a0a0;}
.header2a_dt3
{color:#88898A;}
.header2a_dt4
{margin-left:10px;}
.himg{margin-top:2px;}
#hxuan1
{width:15px;height:30px;}
#hxuan1 img
{width:12px;height:12px;transition: transform .2s ease-in 0s}
#hxuan1:hover img{transform: rotate(720deg);-webkit-transform: rotate(720deg);}

/* ----------------------------------------------Header------------------------------------- */
#header{width:auto!important;min-width:1160px;height:160px;margin-bottom: 0;background-color:#fff;}
.headerLayout {width: 1160px!important;padding-top:10px;margin: 0 auto;}
#header .headerCon {height:150px;}

#lifeLogo {width:390px;height:109px;line-height:64px;padding-top:18px;voerflow:hidden;float:left;cursor:auto;}
#lifeLogo a {width:auto;height:109px;display:block;}

#header .header-extra {overflow: visible;}
.header-banner {width:200px;height:109px;float:right;padding-top:18px;cursor: auto;}
.header-banner a{width:auto;height:109px;display:block;}

#lifeSearch {float:left;width:490px !important;padding:40px 20px 0 0;-webkit-transform: translate3d(0, 0, 0);overflow: hidden;}
.lifeSearch-form {border: solid #FF6600;border-width: 3px 0 3px 3px;overflow: hidden;}
#lifeSearch fieldset {position: relative;border: 0;}
#lifeSearch legend {display: none;color: #000;}
.lifeSearch-form fieldset,.lifeSearch-form img {border: 0;}
#header #lifeSearch label, #header .s-combobox .s-combobox-input-wrap, #header #lifeSearch .s-combobox, #header .lifeSearch-input {height: 44px;line-height: 44px;font-size: 14px;}
.lifeSearch-input {background: #fff;position: relative;}
#lifeSearch label {max-width:90%;overflow:hidden;white-space:nowrap;position:absolute;left:8px;top:0px;z-index:1;visibility:hidden;color:#666;}
.s-combobox {float:left;}
.s-combobox .s-combobox-input-wrap {vertical-align: middle;}
#header #lifeSearch #mq {background: 0 0;height: 22px;line-height: 22px;}
#lifeSearch #mq {color:#000;padding: 13px 0 13px 5px;outline:0;border:0;font-weight:900;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
#mq {width: 430px !important;position: static;}
.s-combobox-input {border-radius:2px 0 0 2px;font-size:100%;vertical-align:middle;overflow-y:visible;}
input, textarea, select {*font-size:100%;font-family:inherit;}

#lifeSearch button {width: 52px;height: 44px;line-height: 44px;position: absolute;top: 0;right: 0;cursor: pointer;color:#FF6600;background-color: #FF6600;}
.hot-query {width:100%;height:18px;overflow:hidden;margin-left:10px;padding-top:6px;}
.hot-query li {display: inline-block;line-height: 1.1;color:#666;padding:0 2px;}
.hot-query li a{color:#666;}
.hot-query li a:hover,.life-intro a:active {color:#FF6600;text-decoration:underline;}

/*------------------------------------------------Footer--------------------------------------------*/
#footer {height:550px;font-size:14px;}
.life-ensure {width:1160px;height:139px;background:url(../images/fo.png) 0 50% no-repeat;margin:0 auto;  padding:0;border-top:1px solid #ccc;}
.life-ensure a {width:290px;height:80px;line-height:80px;font-size:30px;float:left;display:block;color:#666;text-indent:130px;padding:30px 0;}
.life-ensure img {border-left: 1px solid #ccc;}
.life-desc {width:100%;background-color:#F9FAFC;padding:21px 0;border-top:1px solid #ccc;}
.life-desc1 {width:1160px;height:173px;margin: 0 auto;}
.life-desc1 dl {width:217px;float:left;padding-left:15px;}
.life-desc1 dl dt {height:41px;line-height:41px;color:#6E6F73;font-size:20px;}
.life-desc1 dl a {width:217px;heihgt:26px;line-height:26px;display:block;overflow:hidden;text-align:left;color:#999;}
.life-desc1 a:hover,.life-desc1 a:active {color:#FF6600;text-decoration: underline;}
.life-mobile dd{padding-top:15px;}
.footer-info{background:url(../images/border.gif) 0 0 repeat-x;}
.life-intro {line-height:30px;padding:48px 0 41px 0;text-align:center;color:#999;}
.life-intro a {color: #999;margin:0 5px;}
.life-intro a:hover,.life-intro a:active {color:#FF6600;text-decoration: underline;}
.life-footer {width:100%;height:15px; background:url(../images/Fot_02.gif) repeat-x;}
