@charset "utf-8";
/* CSS Document */
#page,#content{width:100%}
.layout{width:1160px}
#header,#content,#footer,.layout{margin: 0 auto}
.col-main{float:left;width:100%;min-height:1px}
.col-sub,.col-extra{float:left}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after,.tb-module:after,.clearfix:after{content:'.';display:block;height:0;line-height:0;clear:both;visibility:hidden}
.layout,.main-wrap,.col-sub,.col-extra,.tb-module,.clearfix{zoom:1}
.skin-default .tm-index-slide{color:#333}
.skin-default .tm-hqsg-2015{color:#333}
.skin-default .tm-index-qqhsj2015{color:#333}
.skin-default .tm-top-2014{color:#333}
.skin-default .sm-margin{color:#333}
.tm-hqsg-2015 {color: #333;padding-top: 30px;}
.tm-wrap{width:1160px;margin:0 auto;position: relative;background: #fff;}
.grid-s4m0 .main-wrap{margin-left:200px}
.grid-s4m0 .col-sub{width:190px;margin-left:-100%;_margin-left:-1190px}
.grid-m0s4 .main-wrap{margin-right:200px}
.grid-m0s4 .col-sub{width:190px;margin-left:-190px}
.grid-s5m0 .main-wrap{margin-left:250px}
.grid-s5m0 .col-sub{width:240px;margin-left:-100%;_margin-left:-1190px}
.grid-m0s5 .main-wrap{margin-right:250px}
.grid-m0s5 .col-sub{width:240px;margin-left:-240px}
.grid-s6m0 .main-wrap{margin-left:300px}
.grid-s6m0 .col-sub{width:290px;margin-left:-100%;_margin-left:-1190px}
.grid-m0s6 .main-wrap{margin-right:300px}
.grid-m0s6 .col-sub{width:290px;margin-left:-290px}
.grid-s4m0e4 .main-wrap{margin:0 200px}
.grid-s4m0e4 .col-sub{width:190px;margin-left:-100%;_margin-left:-1190px}
.grid-s4m0e4 .col-extra{width:190px;margin-left:-190px}
.grid-s5m0e4 .main-wrap{margin:0 200px 0 250px}
.grid-s5m0e4 .col-sub{width:240px;margin-left:-100%;_margin-left:-1190px}
.grid-s5m0e4 .col-extra{width:190px;margin-left:-190px}
.grid-e4m0s5 .main-wrap{margin:0 250px 0 200px}
.grid-e4m0s5 .col-sub{width:240px;margin-left:-240px}
.grid-e4m0s5 .col-extra{width:190px;margin-left:-100%;_margin-left:-1190px}
.grid-s6m0e4 .main-wrap{margin:0 200px 0 300px}
.grid-s6m0e4 .col-sub{width:290px;margin-left:-100%;_margin-left:-1190px}
.grid-s6m0e4 .col-extra{width:190px;margin-left:-190px}
.grid-e4m0s6 .main-wrap{margin:0 300px 0 200px}
.grid-e4m0s6 .col-sub{width:290px;margin-left:-290px}
.grid-e4m0s6 .col-extra{width:190px;margin-left:-100%;_margin-left:-1190px}
.grid-m{width:100%!important}
.w990 .grid-m0,.w990 .grid-s4m0,.w990 .grid-m0s4,.w990 .grid-s5m0,.w990 .grid-m0s5,.w990 .grid-s6m0,.w990 .grid-m0s6,.w990 .grid-s4m0e4,.w990 .grid-s5m0e4,.w990 .grid-e4m0s5,.w990 .grid-s6m0e4,.w990 .grid-e4m0s6{width:990px!important}
.w990 .grid-s4m0 .col-sub,.w990 .grid-s5m0 .col-sub,.w990 .grid-s6m0 .col-sub,.w990 .grid-s4m0e4 .col-sub,.w990 .grid-s5m0e4 .col-sub,.w990 .grid-e4m0s5 .col-extra,.w990 .grid-s6m0e4 .col-sub,.w990 .grid-e4m0s6 .col-extra{_margin-left:-990px!important}
.w740 .grid-m0,.w740 .grid-s4m0,.w740 .grid-m0s4,.w740 .grid-s5m0,.w740 .grid-m0s5,.w740 .grid-s6m0,.w740 .grid-m0s6,.w740 .grid-s4m0e4,.w740 .grid-s5m0e4,.w740 .grid-e4m0s5,.w740 .grid-s6m0e4,.w740 .grid-e4m0s6{width:740px!important}
.w740 .grid-s4m0 .col-sub,.w740 .grid-s5m0 .col-sub,.w740 .grid-s6m0 .col-sub,.w740 .grid-s4m0e4 .col-sub,.w740 .grid-s5m0e4 .col-sub,.w740 .grid-e4m0s5 .col-extra,.w740 .grid-s6m0e4 .col-sub,.w740 .grid-e4m0s6 .col-extra{_margin-left:-740px!important}
h1 {
border-bottom: 2px solid #000;
font-size: 20px;
line-height: 28px;
display: block;
font-weight: bold;
}
/*.life-health, .life-hair, .life-haird, .life-skin, .life-healthpro {width:1160px;}*/
/*life-recommend*/
.life-firstScreen{margin-left:234px;margin-bottom: 29px;}
.life-fs{border:1px solid #F4F4F4;}
.life-fs P{height:30px;line-height:30px;font-size:16px;color:#F60;}
.life-fs span {float:right;}
.floor-health {
width: 85px;
height: 30px;
display: inline-block;
}
.life-healthnav{position:relative;top:-14px;right:8px;z-index:200;width: 380px;height: 24px;float:right;}
.life-healthnav a{width:95px;height:24px;display:block;float:left;display:block;color:#666;font-size:16px;font-weight:bold;background-color:#FFF;text-align:right;}
.life-healthnav a:hover{background:url(../images/healthnav.png) no-repeat;color:#FFF;background-color:#FFF;}
.hleft{display:block;float:left;}
.health{height:219px;border:1px solid #EAEAEA;border-left:none;margin-bottom:29px;}
.hright{width:880px;height:200px;position:relative;top:-4px;right:0;display:block;float:left;}
.health li{width:210px;height:105px;float:left;padding-left:10px;}
.hair{width:100%;height:384px;}
.hair li{float:left;}
.bor1 {width:209px;height:382px;border:1px solid #F4F4F4;border-right:none;}
.bor2 {width:526px;height:382px;border:1px solid #F4F4F4;}
.bor3 {width:421px;height:369px;position:relative;top:-12px;right:0;}
.bor4 {border:1px solid #F4F4F4;border-top:none;border-left:none;float:left;}
.bor41{width:209px;height:245px;display:block;border-bottom:1px solid #F4F4F4;}
.bor42{width:209px;height:125px;display:block;}
.bor5 {border:1px solid #F4F4F4;border-top:none;border-left:none;float:left;}
.bor51{width:210px;height:109px;display:block;border-bottom:1px solid #F4F4F4;}
.bor52{width:210px;height:261px;display:block;}
.haird{width:100%;height:384px;}
.haird li{float:left;}
.bord1 {width:209px;height:383px;border:1px solid #F4F4F4;border-right:none;}
.bord2 {width:526px;height:382px;border:1px solid #F4F4F4;}
.bord3 {width:421px;height:369px;position:relative;top:-12px;right:0;}
.bord4 {width:209px;border:1px solid #F4F4F4;border-top:none;border-left:none;float:left;}
.bord41 {width:209px;height:245px;display:block;border-bottom:1px solid #F4F4F4;}
.bord42 {width:209px;height:125px;display:block;}
.bord5 {width:209px;border:1px solid #F4F4F4;border-top:none;border-left:none;float:left;}
.bord51 {width:209px;height:245px;display:block;border-bottom:1px solid #F4F4F4;}
.bord52 {width:209px;height:125px;display:block;}
.skin{width:100%;height:384px;}
.skin li{float:left;}
.bork1 {width:209px;height:383px;border:1px solid #F4F4F4;border-right:none;}
.bork2 {width:357px;border:1px solid #F4F4F4;}
.sk21 {width:357px;height:257px;float:left;border-bottom:1px solid #F4F4F4;}
.sk22 {width:178px;height:125px;float:left;}
.sk23 {width:178px;height:125px;float:left;border-left:1px solid #F4F4F4;}
.bork30{width:189px;border:1px solid #F4F4F4;border-left:none;float:left;}
.sk31 {width:189px;height:191px;float:left;border-bottom:1px solid #F4F4F4;}
.sk32 {width:189px;height:191px;float:left;}
.bork3 {width:401px;position:relative;top:-12px;right:0;float:left;}
.bork4 {width:190px;border:1px solid #F4F4F4;border-top:none;border-left:none;float:left;}
.bork41{width:190px;height:181px;display:block;border-bottom:1px solid #F4F4F4;}
.bork42{width:190px;height:190px;display:block;}
.bork5 {width:209px;border:1px solid #F4F4F4;border-top:none;border-left:none;float:left;}
.bork51{width:209px;height:371px;display:block;border-bottom:2px solid #F4F4F4;}
/*----------------------------------health care products------------------------------------*/
.life-category-body {margin-right:240px;position:relative;bottom:24px;right:0;float:left;}
.life-category-block {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: -5px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    vertical-align: top;
/*    background-color: #fff;*/
    text-align: center;
}
.life-category-block img {
    border: 0;
    background-color: #eee;
    background: url(http://gtms04.alicdn.com/tps/i4/TB1V9RTGXXXXXb4XpXXTQjBHXXX-48-48.gif) center center no-repeat;
    transition: transform .3s ease-out;
    transform: translateX(0);
}
.img-w-1 {width: 25%;padding:18px 0;}
.life-category-block.img-w-1 img {
    width: 160px;
    height: 255px;
}
.img-w-2 {width: 50%;height:295px;overflow: hidden;border: 0;}
.life-category-block.img-w-2 img {
    width: 461px;
    height: 295px;
    transform: translateX(0);
}
.img-w-3 {width:25%;padding:13px 0;}
.life-category-block.img-w-3 img {
    width: 110px;
    height: 165px;
}
.img-w-4 {width:25%;padding:13px 0;}
.life-category-block.img-w-4 img {
    width: 110px;
    height: 165px;
}
.heproL3 {position: relative;
    top:0;
background-color: #fff;
height: 45px;
padding: 14px 0 15px 0;
margin-right: 238px;
margin-top: 0;
border-right: 1px solid #f5f5f5;
border-left: 1px solid #f5f5f5;
border-bottom: 1px solid #f5f5f5;
border-top: 1px solid #f5f5f5;}
.heproL3 li {float:left;}
/*----------------------------------life-category-side---------------------------------*/
.life-category-side {
    width:198px;
    height: 555px;
    padding: 0 20px;
    position: absolute;
    top: 39px;
    right: 0;
    border: 1px solid #f5f5f5;
    border-top: none;
}
.hepro li{position: relative;padding: 18px 0;border-top: 1px solid #f5f5f5;}
.life-index-0 .life-icon-index {width: 29px;height: 32px;position: absolute;left: 0;top:-1px;display: inline-block;background: url(../images/BEST.png) no-repeat 0 0;background-image: -webkit-image-set(url(../images/BEST.png) 1x,url(../images/BEST.png) 2x);}
.life-index-1 .life-icon-index {width: 29px;height: 32px;position: absolute;left: 0;top:-1px;display: inline-block;background: url(../images/BEST.png) no-repeat 0 -32px;background-image: -webkit-image-set(url(../images/BEST.png) 1x,url(../images/BEST.png) 2x);}
.life-index-2 .life-icon-index {width: 29px;height: 32px;position: absolute;left: 0;top:-1px;display: inline-block;background: url(../images/BEST.png) no-repeat 0 -64px;background-image: -webkit-image-set(url(../images/BEST.png) 1x,url(../images/BEST.png) 2x);}
.hepro li h3 {
line-height: 1.2em;
height: 2.4em;
font-size: 12px;
color: #666;
overflow: hidden;
margin-bottom: .5em;
margin-left: 80px;
}
.heproR1 h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
text-align:center;
}
.heproR2 {border-top: 1px solid #f5f5f5;padding:0 20px;}
.heproR2 h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.hepro li p {
color: #999;
font-size: 12px;
margin-left: 80px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.hepro li img {
display: inline-block;float:left;
}
.life-price {
font-size: 12px;
color: #f60;}
.life-price b {color: #f60;}
.hepro li p b{font-family: Avenir,Arial,"Microsoft YaHei",Helvetica,sans-serif,"\5b8b\4f53";
font-weight: bold;}
.heproR21 {position: relative;height: 60px;margin-bottom: 15px;}
.heproR22 {/*margin-left: -13px;*/width: 190px;overflow:hidden;}
.heproR21 img {position:absolute;}
.heproR21 p {color: #333;
font-size: 12px;
margin-left: 80px;}

.hairI {position: relative;
background-color: #fff;
height: 126px;
padding: 30px 0 0 0;
margin-top: 0;
margin-bottom:30px;
border-right: 1px solid #f5f5f5;
border-left: 1px solid #f5f5f5;
border-bottom: 1px solid #f5f5f5;
border-top: 1px solid #f5f5f5;}
.hairI li {float:left;}
.life-list-roww{position: absolute;display: block;width: 32px;height:126px;line-height:126px;padding: 20px 0 20px 0;text-align: center;font-size: 20px;color: #ccc;}
.hairI .life-list-roww.before {left: 0;top: 20px;}
.hairI .life-list-roww.next {right: 0;top: 20px;}
.life-roww-logo-list-box {position: absolute;left: 40px;right: 40px;height: 126px;line-height:126px;overflow: hidden;}
.life-roww-logo-list-box ul {position: absolute;white-space: nowrap;margin-left: -21px;overflow:hidden;}
.life-roww-logo-list-box ul li {display: inline-block;margin-left: 21px;}
.life-roww-logo-list-box ul li img {width: 60px;height: 114px;background: #fff;}
.health img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.hair img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.haird img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.skin img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.life-category-block img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.heproL1 img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.heproL2 img:hover {transition: transform .3s ease-out;transform: translateX(-5px);}
.skinI {position: relative;
background-color: #fff;
height: 94px;
padding: 30px 0 0 0;
margin-top: 0;
margin-bottom:30px;
border-right: 1px solid #f5f5f5;
border-left: 1px solid #f5f5f5;
border-bottom: 1px solid #f5f5f5;
border-top: 1px solid #f5f5f5;}
.skinI li {float:left;}
.life-list-row{position: absolute;display: block;width: 32px;height:54px;line-height:54px;padding: 20px 0 20px 0;text-align: center;font-size: 20px;color: #ccc;}
.skinI .life-list-row.before {left: 0;top: 20px;}
.skinI .life-list-row.next {right: 0;top: 20px;}
.life-row-logo-list-box {position: absolute;left: 40px;right: 40px;height: 94px;line-height:94px;overflow: hidden;}
.life-row-logo-list-box ul {position: absolute;white-space: nowrap;margin-left: -21px;overflow:hidden;}
.life-row-logo-list-box ul li {display: inline-block;margin-left: 21px;width:130px;height:60px;}
.life-row-logo-list-box ul li img {width: 130px;height: 60px;background: #fff;}


.life-list-arrow{position: absolute;display: block;width: 64px;height:30px;line-height:30px;padding: 22px 0 21px 0;text-align: center;font-size: 20px;color: #ccc;}
.heproL3 .life-list-arrow.before {left: 0;top: 0;}
.heproL3 .life-list-arrow.next {right: 0;top: 0;}

.life-category-logo-list-box {left: 64px;right: 64px;height: 45px;overflow: hidden;position: absolute;}
.life-category-logo-list-box ul {position: absolute;white-space: nowrap;margin-left: -21px;overflow:hidden;}
.life-category-logo-list-box ul li {display: inline-block;margin-left: 21px;}
.life-category-logo-list-box ul li img {width: 90px;height: 45px;background: #fff;}
/*---------------------------------life-category-banner----------------------------------*/
.life-category-banner {height:156px;clear: both;}
.life-category-banner1 {height:169px;clear: both;}
.floor-ad-banner {overflow: hidden;padding-top: 30px;}
