/*xinchouwang.cn CSS Document */

/*CSS Reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
	font-family:"Microsoft YaHei";
    }
body {font: 14px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;}
img{border:none;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}

ul,li{list-style:none;}
li {
display: list-item;
text-align: -webkit-match-parent;
}
#banner,#banner1,.content,.content1,#footer{ margin:0 auto;}

#home-area{float:left;position:relative;z-index:12;height:28px;padding-top:2px;width:106px;}

#home-area dt{width:130px;height:24px;line-height:22px;border:1px solid #F7F7F7;position:relative;z-index:14;}
#home-area dt b{position:relative;top:3px;margin:0 4px;background:url(../images/17.png) -5px -3px no-repeat;height:18px;width:12px;display:inline-block;}
strong,b{color:#666;}
#home-area dt>a,#home-area dt>strong {
position: relative;
top: -2px;
}
a{color:#666;text-decoration:none;}
#life-nav .dd{display:none;}
#home-area dd {
position: relative;
z-index: 13;
padding-bottom: 5px;
width: 300px;
}
#home-area dd li {
    width: 80px;
    padding: 0 0 0 17px;
    height: 24px;
    padding-top: 4px;
}
.lh li, .lh dl, .lh .item {
    float: left;
}
#home-area dd li a, #home-area dd li a:hover, #home-area dd li a:visited {
    color: #005ea7;
    height: 18px;
    line-height: 18px;
}
#home-area dd li a {
    padding: 1px 3px;
    float: left;
}

#life-nav .fr {height:28px;overflow:visible;float:right;}
#life-nav li{height:28px;padding:0 11px 0 12px;}
.lh li{float:left;}
.lh{overflow:hidden;zoom:1;}
#life-nav li s {
    top: 9px;
    left: 0px;
    width: 0px;
    height: 12px;
    border-left: 1px solid #DDD;
    overflow: hidden;
}
.ld s, .ld b, .ld .block {
    position: absolute;
    overflow: hidden;
}

#home-area dd .lh{border:1px solid #ccc;background:#FFF;}
#home-area dd .close {
    position: absolute;
    right: -5px;
    top: -5px;
    background: url(../images/17.png) -35px 0;
    width: 19px;
    height: 19px;
    overflow: hidden;
    line-height: 100px;
    cursor: pointer;
}
#site-nav .sn-menu {
    position: relative;
}
#site-nav .sn-mytaobao .menu-hd, #site-nav .sn-favorite .menu-hd, #site-nav .sn-sitemap .menu-hd, #site-nav .sn-seller .menu-hd {
    padding-right: 14px;
}
#site-nav a:link, #site-nav a:visited, #site-nav .sn-container {
    color: #999;
}
#site-nav .menu-hd {
    display: block;
    height: 26px;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
}
#site-nav .sn-point, #site-nav .sn-logout, #site-nav .menu-hd, #site-nav .sn-cart, #site-nav .sn-mybrand, #site-nav .sn-mobile, #site-nav .sn-home, #site-nav .sn-quick-menu .sn-cart, #site-nav .sn-login, #site-nav .sn-seller-center, #site-nav .sn-register {
    padding: 0 10px;
}
#site-nav .sn-quick-menu {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 26px;
    line-height: 26px;
    -webkit-backface-visibility: hidden;
}
#site-nav .sn-quick-menu .menu-hd b, #site-nav .sn-all-msg b {
    -webkit-backface-visibility: hidden;
    position: absolute;
    right: 6px;
    top: 12px;
    width: 0px;
    height: 0px;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0px;
    line-height: 0;
}
#site-nav .sn-mytaobao .menu-bd {
    width: 74px;
}
#site-nav .sn-mytaobao .menu-bd, #site-nav .sn-favorite .menu-bd, #site-nav .sn-sitemap .menu-bd, #site-nav .sn-seller .menu-bd {
    line-height: 1.4;
    padding: 8px 10px;
}
#site-nav .menu-bd {
    display: none;
    position: absolute;
    left: 0px;
    top: 27px;
    background: #fff;
    filter: alpha(opacity=99);
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
}
#site-nav a:hover, #site-nav a:active, #site-nav .menu-bd {
    color: #c40000;
}
#site-nav .menu-bd a:link, #site-nav .menu-bd a:visited {
    color: #666;
}
#site-nav .menu-bd-panel a {
    display: block;
    line-height: 20px;
}
.menu-bd-panel li{}
#site-nav .sn-qrcode {
position: absolute;
width: 168px;
height: 198px;
background: #fff;
left: -48px;
top: 26px;
box-shadow: 0 0 5px #aaa;
}
#site-nav .sn-qrcode-content {
width: 135px;
height: 135px;
margin: 16px auto;
background: url(../images/258.png) 0 0 no-repeat;
}
#site-nav .sn-qrcode p {
background-position: -141px -73px;
text-indent: -9999px;
overflow: hidden;
margin: 0 10px;
}
#site-nav .sn-qrcode b {
width: 0;
height: 0;
line-height: 0;
font-size: 0;
position: absolute;
left: 50%;
top: -10px;
margin-left: -2px;
border-width: 5px;
border-style: dashed dashed solid;
border-color: transparent transparent #fff;
}
iframe {
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}
#site-nav .mui-global-iconfont {
color: #c40000;
}
.mui-global-iconfont {
background:url(../images/header4.png) 50% 0 no-repeat;
font-family: mui-global-iconfont!important;
font-size: 12px;
font-style: normal;
}
.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0px;
    line-height: 0;
    font-size: 0px;
}

/*ul,dl{float:left;}*/
/* ----------------------------------------------Generalise------------------------------------- */

/*#header, .container, #footer{display:block; position:relative; width:1160px; margin:0 auto;}*/
/* ----------------------------------------------Nav------------------------------------- */
#site-nav {
   width: 100%;
   min-width: 1160px;
   height: 32px;
   line-height:32px;
   position: relative!important;
   background: #f2f2f2;
   z-index: 99999;
   -webkit-transform: translate3d(0,0,0);
   border-bottom: 1px solid #e5e5e5;
   }
.life-top{
   width:100%;
   height:3px;
   background:url(../images/Nav-01.png) repeat-x;
   border-bottom:1px solid #FFF;
   }
#life-nav{
   width:1160px;
   height:29px;
   line-height:29px;
   margin:0 auto;
   }
#life-nav .fl {
    overflow: visible;
}
.lh {
    overflow: hidden;
    zoom: 1;
}
.fl {
    float: left;
}
#life-nav .fl .fore1 {
padding-left: 16px;
z-index: 13;
}
#life-nav li {
height: 30px;
padding: 0 15px 0 12px;
}
.lh li, .lh dl, .lh .item {
float: left;
}
.ld {
position: relative;
zoom: 1;
}
#life-nav .fl b {
top: 8px;
left: 0;
width: 13px;
height: 13px;
background: url(../images/20130725.png) no-repeat 0 0;
cursor: pointer;
}
#life-nav b {
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
}
.ld s, .ld b, .ld .block {
    position: absolute;
    overflow: hidden;
}

/* ----------------------------------------------Header------------------------------------- */
#header{
   width:100%;
   min-width:1160px;
   height:160px;
   background:#fff;
   margin-top:-33px!important;
   position:relative;
   z-index:1000;
   }
.headerLayout{
   width:1160px!important;
   padding-top:33px;
   margin:0 auto;
   }
#header .headerCon {
   position: relative;
   width: 1160px !important;
   }
#lifeLogo {
    /*float:left;*/
   }
#lifeLogo a{
   display:block;
   width: 390px;
   height:109px;
   padding-top:18px;
   }
#header .header-extra {
   overflow: visible;
   }
#header #lifeSearch {
    float: left;
    padding-right: 20px;
    -webkit-transform: translate3d(0, 0, 0);
}
#lifeSearch {
    width: 492px !important;
	float: right;
    padding-top: 25px;
    width: 492px;
    overflow: hidden;
}
#header .lifeSearch-form {
    overflow: hidden;
}
.lifeSearch-form {
    border: solid #FF6600;
    border-width: 3px 0 3px 3px;
}
#lifeSearch fieldset {
    position: relative;
}
#lifeSearch legend {
    display: none;
}
legend {
    color: #000;
}
fieldset, img {
    border: 0;
}
#header #lifeSearch label, #header .s-combobox .s-combobox-input-wrap, #header #lifeSearch .s-combobox, #header .lifeSearch-input {
    height: 44px;
    line-height: 44px;
}
.lifeSearch-input {
    background: #fff;
    height: 44px;
    position: relative;
}
#lifeSearch label, #lifeSearch label {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}
#lifeSearch label {
    visibility: hidden;
    color: #666;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 0px;
    z-index: 1;
}
.s-combobox {
    float: left;
    height: 34px;
    font-size: 14px;
}
.s-combobox .s-combobox-input-wrap {
    position: relative;
    height: 30px;
    vertical-align: middle;
}
#header #lifeSearch #mq {
    background: 0 0;
    height: 22px;
    line-height: 22px;
    padding-bottom: 8px;
}
#lifeSearch #mq {
    color: #000;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 289px;
    height: 20px;
    line-height: 20px;
    padding: 5px 0 5px 5px;
    outline: 0;
    border: 0;
    font-weight: 900;   
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#mq {
    position: static;
    width: 452px;
    width: 439px !important;
}
.s-combobox .s-combobox-input { 
    position: static;
    border: 0;
    border-radius: 2px 0 0 2px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 7px 3px 7px 5px;
    margin: 0;
    color: #000;
    font-size: 100%;
    font-weight: 900;
    vertical-align: middle;
    overflow-y: visible;
}
input, textarea, select {
    *font-size: 100%: ;
	font-family:inherit;
}
#header #lifeSearch button {
    height: 44px;
    line-height: 44px;
    right: -1px;
}
body #lifeSearch button {
    position: absolute;
}
#lifeSearch button, #lifeSearch button {
    position: absolute;
    z-index: 1;
}
#lifeSearch button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 47px;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #FF6600;
    height: 50px;
    overflow: hidden;
    font-family: "微软雅黑",arial,"宋体";
}
#lifeSearch button img{display:block;line-height:32px;border:none;}
#header #lifeSearch .hot-query {
    padding-top: 6px;
}
#header .hot-query {
    *height: 14px: ;
}
.hot-query {
    padding: 6px 0 0;
    height: 18px;
    overflow: hidden;
    width: 100%;
	color:#666;
}
#header .hot-query li {
display: inline-block;
line-height: 1.1;

}
#header .hot-query li {
display: inline-block;
line-height: 1.1;

}
.hot-query li.hot-query-highlight a {
color: #FF6600;
}
.header-banner {
float: none;
position: absolute;
top: 0;
right: 0;
height: 110px;
text-align: right;
z-index: 1;
padding: 10px 0 0 100px;
width: 200px;
}
#life-nav .fl b {
top: 8px;
left: 0;
width: 12px;
height: 12px;
background: url(../images/header1.png) no-repeat;
cursor: pointer;
}


/*---------------------------------------------------Footer----------------------------------------------------*/
.footer{width:100%;min-width:1160px;height:520px;}
.life-ensure{width:1160px;height:80px;background:url(../images/fo.png) no-repeat;margin:30px auto;padding:0;}
.life-ensure a{float:left;display:block;width:290px;height:80px;text-indent:-1000em;}
.life-desc{width:100%;padding:25px 0;border-top:1px solid #ccc;background-color:#F9FAFC;background:url(../images/border.png) 0 100% repeat-x;}
.life-desc1{width:1160px;height:173px;margin:0 auto;}
.life-desc1 dl{float:left;width:217px;padding-left:15px;}
.life-desc1 dl dt{color:#6E6F73;font-size:20px;font-weight:550;height:41px;line-height:41px;}
.life-desc1 dl a{display:block;width:217px;overflow:hidden;text-align:left;heihgt:26px;line-height:26px;color:#9CA0A5;}
.life-intro{width:1160px;height:px;padding:40px 0 41px 0;margin:0 auto;text-align:center;line-height:30px;color:#999;}
.life-intro a{color:#999;margin:0 5px;}
.life-footer{width:100%;height:15px;background:url(../images/Fot-01.png) repeat-x;}