@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------Navigation---------------------------------------- */
#site-nav {height:32px;line-height:32px;position:relative!important;background:#F7F7F7;z-index:99999;-webkit-transform:translate3d(0,0,0);border-bottom:1px solid #e5e5e5;}
.life-top {width:100%;height:3px;background:url(../images/Nav-01.gif) repeat-x;border-bottom:1px solid #FFF;}
#life-nav {height:29px;line-height:29px;}
.sn-container{width:100%;height:29px;position:relative;color:#999;}

.enshrine {display: inline-block;float:left;}
.enshrine .fore1 {padding:0 16px;z-index: 13;}
#life-nav .ld {position: relative;}
.enshrine b {top:8px;left:0;width:13px;height:13px;background: url(../images/header01.png) no-repeat 0 0;cursor: pointer;}
.enshrine b {transition: transform .2s ease-in 0s;-webkit-transition: -webkit-transform .2s ease-in 0s;}
.enshrine .fore1:hover b{transform:rotate(144deg);-moz-transform:rotate(144deg); /* Firefox 4 */-webkit-transform:rotate(144deg); /* Safari and Chrome */-o-transform:rotate(144deg); /* Opera */}

#home-area{width:130px;height:28px;display: inline-block;position:relative;z-index:12;padding-top:2px;}
#home-area dt{width:130px;height:24px;line-height:24px;;display: block;border:1px solid #F7F7F7;position:relative;z-index:14;}
#home-area dt b{width:12px;height:18px;display:inline-block;position:relative;top:3px;margin:0 4px;background:url(../images/17.png) -5px -3px no-repeat;}
#home-area span,b,a{color:#666;}
#home-area dt>a,#home-area dt>span {position: relative;top: -2px;}
#home-area dd {width: 300px;position: relative;top:0px;z-index: 13;padding-bottom: 5px;}
#home-area dd li {width: 80px;height: 24px;padding:0 0 0 17px;padding-top:4px;}
#home-area.hover .blank{width:100%;left:0;}
#site-nav.hover .blank{height:8px;position:absolute;z-index:1;overflow:hidden;background:#fff;}
#site-nav.hover .dd{display:block;position:absolute;top:30px;border:1px solid #ddd;background:#fff;box-shadow: 0 0 10px rgba(0,0,0,.12);}
#home-area dd li a {color: #005ea7;height: 18px;line-height: 18px;padding: 1px 3px;float: left;}
#home-area dd .lh{border-left:1px solid #F7F7F7;border-right:1px solid #F7F7F7;border-bottom:1px solid #F7F7F7;zoom:1;}
#home-area dd .close {width: 19px;height: 19px;line-height: 100px;position: absolute;right: -5px;top: -5px;background: url(../images/17.png) -35px 0;overflow: hidden;cursor: pointer;}
#life-nav .fr {height:28px;overflow:visible;float:right;}
#site-nav .dd{display:none;}
#life-nav li s {width: 0px;height: 12px;top: 9px;left: 0px;border-left: 1px solid #DDD;overflow: hidden;}
#life-nav .ld s, #life-nav .ld b, #life-nav .ld .block {position: absolute;overflow: hidden;}

#life-nav .lh {overflow:hidden;zoom:1;}
#life-nav .lh li{float: left;}
#life-nav span a{padding-left:5px;}

.greet{padding:0 15px 0 12px;}
.fore{padding:0 15px;}
.myaccount{padding:0 15px 0 34px;}
.myaccount i {
position: absolute;
z-index: 2;
left: 15px;
top: 9px;
width: 10px;
height: 11px;
background-image: url(../images/logo.jpg);
background-repeat: no-repeat;
background-position: -42px 0px;
-webkit-transition: all .2s ease;
transition: all .2s ease;
}
.myaccount b {
position: absolute;
z-index: 2;
right: 5px;
top: 13px;
width: 6px;
height: 4px;
background-image: url(../images/logo.jpg);
background-repeat: no-repeat;
background-position: -3px -23px;
-webkit-transition: all .2s ease;
transition: all .2s ease;
}
.sn-cart {padding:0 15px 0 34px;}
.menu i {position: absolute;
z-index: 2;
left: 15px;
top: 9px;
width: 10px;
height: 11px;
background-image: url(../images/logo.jpg);
background-repeat: no-repeat;
background-position: -42px 0px;
-webkit-transition: all .2s ease;
transition: all .2s ease;}
.sn-join{padding:0 15px;}
#app-life{padding:0 15px 0 34px;}
#app-life i {
position: absolute;
z-index: 2;
left: 14px;
top: 5px;
width: 12px;
height: 18px;
background-image: url(../images/logo.jpg);
background-repeat: no-repeat;
background-position: -87px 1px;
-webkit-transition: all .2s ease;
transition: all .2s ease;
}
.sn-sitemap{padding:0 15px;}
.sn-sitemap b{position: absolute;
z-index: 2;
right: 5px;
top: 13px;
width: 6px;
height: 4px;
background-image: url(../images/logo.jpg);
background-repeat: no-repeat;
background-position: -3px -23px;
-webkit-transition: all .2s ease;
transition: all .2s ease;}
/*#site-nav .sn-menu {position: relative;}
#site-nav .sn-mytaobao .menu-hd, #site-nav .sn-favorite .menu-hd, #site-nav .sn-sitemap .menu-hd, #site-nav .sn-seller .menu-hd {padding-right: 14px;}
#site-nav a:link, #site-nav a:visited, #site-nav .sn-container {color: #999;}
#site-nav .menu-hd {height: 26px;display: block;cursor: pointer;z-index: 100001;border: solid #f2f2f2;border-width: 0 1px;position: relative;}
#site-nav .sn-point, #site-nav .sn-logout, #site-nav .menu-hd, #site-nav .sn-cart, #site-nav .sn-mybrand, #site-nav .sn-mobile, #site-nav .sn-home, #site-nav .sn-quick-menu .sn-cart, #site-nav .sn-login, #site-nav .sn-seller-center, #site-nav .sn-register {padding: 0 10px;}
#site-nav .sn-quick-menu {height: 26px;line-height: 26px;position: absolute;right: 0px;top: 0px;-webkit-backface-visibility: hidden;}
#site-nav .sn-quick-menu .menu-hd b, #site-nav .sn-all-msg b {width: 0px;height: 0px;position: absolute;right: 6px;top: 12px;-webkit-backface-visibility: hidden;border-width: 3px;border-style: solid dashed dashed;border-color: #bbb transparent transparent;font-size: 0px;line-height: 0;}
#site-nav .sn-mytaobao .menu-bd {width: 74px;}
#site-nav .sn-mytaobao .menu-bd, #site-nav .sn-favorite .menu-bd, #site-nav .sn-sitemap .menu-bd, #site-nav .sn-seller .menu-bd {line-height: 1.4;padding: 8px 10px;}
#site-nav .menu-bd {display: none;position: absolute;left: 0px;top: 27px;background: #fff;filter: alpha(opacity=99);z-index: 93110;border: solid #eee;border-width: 0 1px 1px;}*/
/*--------------------------------nav a--------------------------------*/
/*#site-nav a:hover, #site-nav a:active, #site-nav .menu-bd {color: #FF6600;text-decoration:underline;}
#site-nav .menu-bd a:link, #site-nav .menu-bd a:visited {color: #666;}
#site-nav .menu-bd-panel a {display: block;line-height: 20px;}
.menu-bd-panel li{}
#site-nav .sn-qrcode {width: 168px;height: 198px;position: absolute;left: -48px;top: 26px;background: #fff;box-shadow: 0 0 5px #aaa;}
#site-nav .sn-qrcode-content {width: 135px;height: 135px;margin: 16px auto;background: url(../images/258.png) 0 0 no-repeat;}
#site-nav .sn-qrcode p {background-position: -141px -73px;text-indent: -9999px;overflow: hidden;margin: 0 10px;}
#site-nav .sn-qrcode b {width: 0;height: 0;line-height: 0;font-size: 0;position: absolute;left: 50%;top: -10px;margin-left: -2px;border-width: 5px;border-style: dashed dashed solid;border-color: transparent transparent #fff;}
iframe {border: 2px inset;border-image-source: initial;border-image-slice: initial;border-image-width: initial;border-image-outset: initial;border-image-repeat: initial;}
#site-nav .mui-global-iconfont {color: #c40000;}
.mui-global-iconfont {background:url(../images/header4.png) 50% 0 no-repeat;font-family: mui-global-iconfont!important;font-size: 12px;font-style: normal;}*/